html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

nav.navigation {
    background-color: rgba(50, 50, 50, 100);
    padding: 20px;
}
nav.navigation a {
    color: white;
    font-family: monospace;
    font-size: 12pt;
}

header.profile {
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    margin-top: 0px;
    margin-bottom: 24px;
}

#footer {
    background-color: rgba(50, 50, 50, 100);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
}

#footer a {
    text-decoration: none;
    color: white;
}
